set $mod Mod4

set $left h
set $down j
set $up k
set $right l

set $term wezterm

set $menu fuzzel

set $lock swaylock -c 000000

set $volume_up     pactl set-sink-volume $(pactl get-default-sink) +5% && $myscript && ./emit-vol-notif
set $volume_down   pactl set-sink-volume $(pactl get-default-sink) -5% && $myscript && ./emit-vol-notif
set $volume_toggle pactl set-sink-mute @DEFAULT_SINK@ toggle           && $myscript && ./emit-vol-notif
set $mic_toggle    pactl set-source-mute @DEFAULT_SOURCE@ toggle

gaps inner 10
smart_gaps on

### Output configuration
#
# Default wallpaper (more resolutions are available in /usr/share/backgrounds/sway/)
#output * bg ~/Pictures/wall.jpg fill
#
# Example configuration:
#
#   output HDMI-A-1 resolution 1920x1080 position 1920,0
#
# You can get the names of your outputs by running: swaymsg -t get_outputs
#output HDMI-A-2 pos 0    0 adaptive_sync on
#output eDP-1    pos 1920 0
# exec is so that focus doesn't change on reload
#exec swaymsg focus output HDMI-A-2

### Idle configuration
#
# Example configuration:
#
# exec swayidle -w \
#          timeout 300 'swaylock -f -c 000000' \
#          timeout 600 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
#          before-sleep 'swaylock -f -c 000000'
#
# This will lock your screen after 300 seconds of inactivity, then turn off
# your displays after another 300 seconds, and turn your screens back on when
# resumed. It will also lock your screen before your computer goes to sleep.
exec swayidle -w \
         timeout 120 '$lock' \
         timeout 150 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
         before-sleep 'swaylock -f -c 000000'

### Input configuration
#
# Example configuration:
#
#   input "2:14:SynPS/2_Synaptics_TouchPad" {
#       dwt enabled
#       tap enabled
#       natural_scroll enabled
#       middle_emulation enabled
#   }
#
# You can get the names of your inputs by running: swaymsg -t get_inputs
# Read `man 5 sway-input` for more information about this section.
#input "2:7:SynPS/2_Synaptics_TouchPad" {
#    dwt enabled
#    tap enabled
#    natural_scroll enabled
#    middle_emulation enabled
#    pointer_accel 0.5
#}

bindsym $mod+Return exec $term

bindsym $mod+p exec $lock

bindsym $mod+Shift+q kill

bindsym $mod+d exec $menu

floating_modifier $mod normal

bindsym $mod+Shift+r reload

bindsym $mod+Shift+Escape exec swaynag -t warning -m 'Really exit sway?' -b 'Yes, exit sway' 'swaymsg exit'

# Notifications
#bindsym $mod+y exec $notif_clear
#bindsym $mod+Shift+y exec $notif_clear_all

#bindsym --locked XF86AudioRaiseVolume exec $volume_up
#bindsym --locked XF86AudioLowerVolume exec $volume_down
#bindsym --locked XF86AudioMute        exec $volume_toggle
#bindsym --locked XF86AudioMicMute     exec $mic_toggle

#bindsym --locked $mod+F1 exec $volume_up
#bindsym --locked $mod+F2 exec $volume_down
#bindsym --locked $mod+F3 exec $volume_toggle
#bindsym --locked $mod+F4 exec $mic_toggle

# Brightness
#bindsym --locked XF86MonBrightnessDown exec brightnessctl set 5%- && $myscript && ./emit-brightness-notif
#bindsym --locked XF86MonBrightnessUp   exec brightnessctl set 5%+ && $myscript && ./emit-brightness-notif

bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10

bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

bindsym $mod+b splith
bindsym $mod+v splitv

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+f fullscreen

bindsym $mod+Shift+space floating toggle

bindsym $mod+space focus mode_toggle

bindsym $mod+o focus parent
bindsym $mod+i focus child

bindsym $mod+Shift+minus move scratchpad

bindsym $mod+minus scratchpad show

mode "resize" {
    bindsym $left resize shrink width 10px
    bindsym $down resize grow height 10px
    bindsym $up resize shrink height 10px
    bindsym $right resize grow width 10px

    bindsym Left resize shrink width 10px
    bindsym Down resize grow height 10px
    bindsym Up resize shrink height 10px
    bindsym Right resize grow width 10px

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

#
# Status Bar:
#
# Read `man 5 sway-bar` for more information about this section.
#bar swaybar_command waybar
bar {
    position top

    # When the status_command prints a new line to stdout, swaybar updates.
    # The default just shows the current date and time.
    status_command while date +'%d/%m %l:%M %p'; do sleep 30; done

    colors {
        statusline #ffffff
        background #323232
        inactive_workspace #32323200 #32323200 #5c5c5c
    }
}

default_border pixel 2

#exec_always kdeconnect-indicator
#exec_always fcitx -d
#exec        mako

include /etc/sway/config.d/*
